<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
		<category name="Timekeeping" id="com.sam.e4.clock.ui"/>
		<view name="Clock View" inject="true" icon="icons/sample.png" category="com.sam.e4.clock.ui" class="com.sam.e4.clock.ui.views.ClockView" id="com.sam.e4.clock.ui.views.ClockView" />
		<view name="Time Zone Tree View" inject="true" icon="icons/sample.png" category="com.sam.e4.clock.ui" class="com.sam.e4.clock.ui.views.TimeZoneTreeView" id="com.sam.e4.clock.ui.views.TimeZoneTreeView" />
		<view name="Time Zone Table View" inject="true" icon="icons/sample.png" category="com.sam.e4.clock.ui" class="com.sam.e4.clock.ui.views.TimeZoneTableView" id="com.sam.e4.clock.ui.views.TimeZoneTableView" />
	</extension>
	   
	<extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="java.util.TimeZone" class="com.sam.e4.clock.ui.internal.TimeZoneAdapterFactory"> 
			<adapter type="org.eclipse.ui.views.properties.IPropertySource" />
		</factory>    
	</extension>
	
	<!-- 커맨드를 정의한다.  -->
	<extension point="org.eclipse.ui.commands">
         <command name="Hello" description="Says Hello World" id="com.sam.e4.clock.ui.command.hello" />
         <command name="Show the Time" description="Show the Time" id="com.sam.e4.clock.ui.command.showTheTime" />
	</extension>
	
	<!-- 정의한 커맨드에 핸들러를 매핑하여 커맨드가 호출되면 해당 핸들러가 동작한다. 우리는 핸들러의 커맨드의 동작을 구현한다. -->
	<extension point="org.eclipse.ui.handlers">
         <handler class="com.sam.e4.clock.ui.handlers.HelloHandler" commandId="com.sam.e4.clock.ui.command.hello">
         	<enabledWhen>
         		<reference definitionId="when.hello.is.active" />
         	</enabledWhen>
         </handler>         
         <handler class="com.sam.e4.clock.ui.handlers.ShowTheTime" commandId="com.sam.e4.clock.ui.command.showTheTime"/>
	</extension>
	
	<!-- 이클립스 메뉴에 내가 원하는 메뉴를 등록 할 수 있다. 
	메뉴는 상단메뉴, 팝업 등등 이 가능하다. 
	 -->
	<extension point="org.eclipse.ui.menus">
		<!-- 메뉴를 등록하고 메뉴에 커맨드를 매핑한다. 매핑 조건을 정의할 수 있다 -->
		<menuContribution allPopups="false" locationURI="menu:help?after=additions">
			<command commandId="com.sam.e4.clock.ui.command.hello" label="Hello" style="push"> 
				<visibleWhen>
					<reference definitionId="when.hello.is.active" />
               <!--
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals value="org.eclipse.jdt.ui.javaEditorScope"/>
                  </iterate>   
               </with>
               -->
				</visibleWhen>
			</command>
		</menuContribution>   
		<menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any">
			<command commandId="com.sam.e4.clock.ui.command.showTheTime" label="Show the Time" style="push"> 
				<visibleWhen checkEnabled="false">
					<with variable="selection">
						<iterate ifEmpty="false">
							<adapt type="java.util.TimeZone"/>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>   
	</extension>
	
	<!-- 특정 커맨드를 바인딩 하기 위해 사용(단축키) -->
	<extension point="org.eclipse.ui.bindings">
		<key commandId="com.sam.e4.clock.ui.command.hello" sequence="M1+9" contextId="org.eclipse.jdt.ui.javaEditorScope" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
	
	<!-- 이클립스 조건식을 재활용하기 위해 사용하는 extension -->
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="when.hello.is.active">
        	<!-- 위에서 사용한 with표현을 재활용하기 위해서 사용 --> 
			<with variable="activeContexts">
				<iterate operator="or">
					<equals value="org.eclipse.jdt.ui.javaEditorScope"/>
				</iterate>   
			</with>
		</definition>
	</extension>
	
	<!-- 이클립스 preference page에 등록 할 수 있는 extension -->
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Clock" class="com.sam.e4.clock.ui.ClockPreferencePage" category="org.eclipse.ui.preferencePages.Workbench" id="com.sam.e4.clock.ui.preference.page">
			<!-- 아래에서 등록한 키워드를 이 preference page에 연결한다 -->
			<keywordReference id="com.sam.e4.clock.ui.keywords" />
		</page>
	</extension>
	
	<!-- preference 창에서 검색하기위한 키워드를 등록한다 -->
	<extension point="org.eclipse.ui.keywords">
		<keyword id="com.sam.e4.clock.ui.keywords" label="offset timezone"></keyword>
	</extension>
	
</plugin>
